$lg-width: 1264px;
$md-width: 960px;
$sm-width: 600px;
$min-width: 320px;

$background: #f2f2f2;

// Link color
$link: #000000;

// Link hover color
$link-hover: #2d56d0;
$body-font-family: "Montserrat";
$heading-font-family: "Alice";

$black: #18191f;
$accent: rgb(213, 0, 0);
$gray:#ececec;
$darkLink: #4a1f00;
$white: rgb(255, 255, 255);
$error: #FF5252;
$success: #4CAF50;
$primary: #4A1F00;

$toolbar-mobile-height: 64px;
$toolbar-desktop-height: 100px;

$dialog-mobile-margin: 20px;
$dialog-desktop-margin: 40px;


:root {
    --toolbar-height: #{$toolbar-mobile-height};
    --dialog-margin: #{$dialog-mobile-margin};

    --dialog-width: 100%;
    --fab-button-size: 44px;

    @include md {
        --toolbar-height: #{$toolbar-desktop-height};
        --dialog-margin: #{$dialog-desktop-margin};
        --dialog-width: 900px;
        --fab-button-size: 48px;
    }

    @include lg {
        --dialog-width: 1185px;
    }
}