// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$font: 'Montserrat';
$heading-font-family: $font;
$body-font-family: $font;
$color-pack: false;

// @import '~vuetify/src/styles/styles.sass';
// @import '~vuetify/src/styles/styles.sass';
$utilities: ("typography":false,
    "overflow":false,
    "overflow-x":false,
    "display":("responsive": false),
    "float":false,
    "flex-direction":(responsive:false),
    "flex-grow":false,
    "flex-shrink":false,
    "flex-wrap":(responsive:false,
        values: wrap nowrap),
    "justify-content":("responsive": false),
    "align-items":("responsive": false),
    "align-content": (responsive: false),
    "align-self": false,
    "order": false,

    // Margin utilities
    "margin": (responsive: false),
    "margin-x": (responsive: false),
    "margin-y": (responsive: false),
    "margin-top": (responsive: false),
    "margin-right": (responsive: false),
    "margin-bottom": (responsive: false),
    "margin-left": (responsive: false),
    "margin-start": false,
    "margin-end": false,

    // Negative margin utilities
    "negative-margin": false,
    "negative-margin-x": false,
    "negative-margin-y": false,
    "negative-margin-top": false,
    "negative-margin-right": false,
    "negative-margin-bottom": false,
    "negative-margin-left": false,
    "negative-margin-start":false,
    "negative-margin-end": false,

    // Padding utilities
    "padding": (responsive: false),
    "padding-x": (responsive: false),
    "padding-y": (responsive: false),
    "padding-top": (responsive: false),
    "padding-right": (responsive:false),
    "padding-bottom": (responsive: false),
    "padding-left": (responsive: false),
    "padding-start": false,
    "padding-end":false,

    // Border
    "rounded": false,
    "rounded-top": false,
    "rounded-right": false,
    "rounded-bottom": false,
    "rounded-left": false,
    "rounded-top-left": false,
    "rounded-top-right": false,
    "rounded-bottom-right": false,
    "rounded-bottom-left": false,

    // Text
    "text-align": (responsive: false),
    "text-decoration": false,
    "white-space": false,
    "overflow-wrap": false,
    // "text-overflow": false,
    // "text-transform": false,
);